.t-e-x-t {
  width: 614px;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  bottom: 1526px;
  left: calc(50% - 307px);
}
.sustainability-landing-page-child {
  align-self: stretch;
  height: 524px;
  position: relative;
  background-color: var(--color);
  display: none;
  opacity: 0.04;
  z-index: 3;
}
.telecom-sector-award {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 436px;
  max-width: 100%;
  flex-shrink: 0;
}
.economic-times-sustainable-org {
  width: 1761px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 100px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.ppc-colour-block {
  height: 14px;
  width: 58px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ppc-colour-block-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-11xs);
}
.sustainability-vision {
  margin: 0;
  margin-top: 10px;
}
.sustainability-vision-long-container {
  align-self: stretch;
  height: 140px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
}
.sustainable-growth {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-47xl);
  max-width: 100%;
}
.sustainable-growth-wrapper {
  width: 1285px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child {
  position: absolute;
  top: 0px;
  left: 59px;
  border-radius: var(--br-14xl);
  background-color: var(--ea7926);
  width: 940px;
  height: 35px;
}
.frame-child.slideIn{
  animation:smoothBtnAnimation 1.4s ease-in-out ;
}
@keyframes smoothBtnAnimation{
  from{
    transform: scaleX(0);
   transform-origin: left;
  }
  to{
    transform: scaleX(1);
  }
}
.our-commitments {
  position: absolute;
  top: 2px;
  left: 0px;
  letter-spacing: 0.2em;
  line-height: 70px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1059px;
  height: 35px;
  z-index: 1;
}
.rectangle-parent {
  height: 37px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.post-e-c-compliance-report-inner {
  width: 1063px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-item {
  align-self: stretch;
  height: 464px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--people);
  display: none;
}
.group-icon {
  height: 203.6px;
  width: 212px;
  position: relative;
  mix-blend-mode: overlay;
  z-index: 1;
}
.awards-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xl);
}
.long-term-commitments {
  width: 426px;
  height: 80px;
  position: relative;
  line-height: 43.2px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
  z-index: 1;
}
.instance-child {
  height: 2px;
  width: 2px;
  position: relative;
  min-height: 2px;
}
.instance-child37 {
  height: 2px;
  width: 2px;
  position: relative;
  display: none;
  min-height: 2px;
}
.instance-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs) 0px 0px;
  gap: var(--gap-11xs);
  mix-blend-mode: overlay;
  z-index: 1;
}
.header-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-6xs) 0px var(--padding-4xs);
}
.vector-icon-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-9xl);
  background-color: var(--ffffff);
  mix-blend-mode: overlay;
  z-index: 1;
}
.read-more {
  height: 17px;
  width: 134px;
  position: relative;
  letter-spacing: 0.35em;
  line-height: 16.8px;
  text-transform: uppercase;
  display: inline-block;
  z-index: 2;
}
.search-input-child {
  width: 5px;
  height: 10px;
  position: relative;
  z-index: 2;
}
.search-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-12xs) 0px 0px;
}
.vector-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-mini) var(--padding-11xs)
    var(--padding-smi);
  position: relative;
  gap: var(--gap-5xs);
}
.header-frame-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.for-enquiries-feedback {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 35px;
  font-size: var(--font-size-sm);
  color: var(--color);
}
.rectangle-group {
  flex: 1;
  border-radius: var(--br-9xl);
  background-color: var(--people);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0px var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-16xl);
  min-width: 330px;
  max-width: 100%;
}
.economic-times-logo-child {
  align-self: stretch;
  height: 464px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--b0bc25);
  display: none;
}
.sustainable-growth-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-7xl);
}
.short-term-commitments {
  align-self: stretch;
  height: 80px;
  position: relative;
  line-height: 43.2px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.instance-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs) 0px 0px;
  gap: var(--gap-11xs);
  mix-blend-mode: overlay;
  z-index: 1;
}
.header-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-6xs) 0px var(--padding-4xs);
}
.header-frame-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.platinum-award-title-inner {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--color);
}
.platinum-award-title {
  width: 426px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.economic-times-logo {
  flex: 1;
  border-radius: var(--br-9xl);
  background-color: var(--b0bc25);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 12px 0px var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-27xl);
  min-width: 330px;
  max-width: 100%;
}
.rectangle-compliance-child {
  position: absolute;
  top: -0.2px;
  left: 0px;
  border-radius: var(--br-9xl);
  background-color: var(--planet);
  width: 100%;
  height: 100%;
}
.group-icon2 {
  position: absolute;
  top: 13px;
  left: 23px;
  width: 212px;
  height: 203.6px;
  mix-blend-mode: overlay;
  z-index: 1;
}
.rectangle-compliance {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
.frame-vector-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-17xl);
  font-size: var(--font-size-sm);
  color: var(--color);
}
.frame-vector {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 261px 0px var(--padding-26xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-16xl);
  min-width: 330px;
  max-width: 100%;
}
.awards-stars-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  gap: 58px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
}
.post-e-c-compliance-report {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--ffffff);
}
.frame-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 93px;
  max-width: 100%;
  flex-shrink: 0;
}
.sustainability-landing-page-inner {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 177px var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.ppc-colour-block1 {
  width: 42px;
  height: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.navbar-frame {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 97px;
  max-width: 100%;
}
.rectangle-icon {
  height: 658px;
  width: 1720px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.layer-1-icon {
  height: 41.3px;
  width: 58px;
  position: absolute;
  margin: 0 !important;
  top: 82px;
  right: 683px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.duciendantum-ad-mil {
  height: 295px;
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 38px;
  font-weight: 300;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.layer-1-icon1 {
  height: 25px;
  width: 35px;
  position: absolute;
  margin: 0 !important;
  right: 115px;
  bottom: -14px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.duciendantum-ad-mil-earchil-mi-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.rajarshi-purkayastha1 {
  padding-top: 10px;
  letter-spacing: 0.2em;
  line-height: 0px;
}
.span {
  font-size: var(--font-size-16xl);
  letter-spacing: 0.02em;
  line-height: 38px;
  font-weight: 300;
  font-family: var(--font-gotham);
}
.vice-president2 {
  letter-spacing: 0.2em;
  line-height: 25px;
  font-weight: 500;
}
.vice-president1 {
  margin: 0;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.rajarshi-purkayastha-vice-container {
  align-self: stretch;
  height: 62px;
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-top: 20px;
}
.rectangle-div {
  height: 26px;
  width: 183px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--people);
  display: none;
}
.watch-video {
  height: 18px;
  flex: 1;
  position: relative;
  letter-spacing: 0.11em;
  line-height: 19.2px;
  text-transform: uppercase;
  display: inline-block;
  z-index: 2;
}
.rectangle-parent1 {
  align-self: stretch;
  border-radius: var(--br-9xl);
  background-color: var(--people);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-8xs) var(--padding-2xs) var(--padding-10xs)
    var(--padding-lgi);
  white-space: nowrap;
  z-index: 1;
  margin-top: 15px;
}
.frame-child1 {
  width: 56px;
  height: 14px;
  position: absolute;
  margin: 0 !important;
  bottom: 0px;
  left: 9px;
  z-index: 1;
  display: none;
}
.frame-div {
  width: 183px;
  height: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--ffffff);
}
.rajarshi-purkayastha-vice-pres-parent {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  max-width: 100%;
  font-size: var(--font-size-3xl);
  color: var(--people);
}
.frame-container {
  width: 603px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.rectangle-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-18xl) var(--padding-54xl);
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
}
.logo-frame {
  width: 1760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 126px;
  box-sizing: border-box;
  gap: 51px;
  max-width: 100%;
  flex-shrink: 0;
}
.ppc-colour-block-parent {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.aadesh-goyal1 {
  font-size: var(--font-size-3xl);
  letter-spacing: 0.2em;
  line-height: 25px;
  font-family: var(--font-gotham);
  color: var(--community);
}
.chro2 {
  letter-spacing: 0.2em;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 500;
}
.frame-child3 {
  height: 26px;
  width: 183px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--community);
  display: none;
}
.rectangle-parent3 {
  align-self: stretch;
  border-radius: var(--br-9xl);
  background-color: var(--community);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-8xs) var(--padding-2xs) var(--padding-10xs)
    var(--padding-lgi);
  white-space: nowrap;
  z-index: 1;
}
.frame-parent2 {
  width: 183px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--ffffff);
}
.aadesh-goyal-chro-parent {
  width: 217px;
  height: 183px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  font-size: var(--font-size-lg);
  margin-top: 18px;
}
.logo-frame1 {
  width: 1760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 104px;
  box-sizing: border-box;
  gap: var(--gap-25xl);
  max-width: 100%;
  flex-shrink: 0;
}
.awards {
  align-self: stretch;
  height: 70px;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
}
.text-child {
  align-self: stretch;
  width: 513px;
  position: relative;
  border-radius: var(--br-14xl);
  background-color: var(--b0bc25);
  display: none;
  max-width: 100%;
  margin-bottom: 0%;
}
.sustainability {
  height: 35px;
  flex: 1;
  position: relative;
  letter-spacing: 0.2em;
  line-height: 35px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.text1 {
  width: 513px;
  border-radius: var(--br-14xl);
  background-color: var(--b0bc25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) 33px 0px 32px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-5xl);
  color: var(--ffffff);
}
.instance {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 54px;
  max-width: 100%;
}
.text {
  width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 8px;
  box-sizing: border-box;
  gap: 71px;
  max-width: 100%;
  flex-shrink: 0;
}
.ppc-colour-block4 {
  height: 14px;
  width: 59px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.empty-frame-instance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-xl) 41px;
}
.sustainability-landing-page {
  width: 100%;
  position: relative;
  background-color: var(--ffffff);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-28xl) 0px 0px;
  box-sizing: border-box;
  gap: 39px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-51xl);
  color: var(--color-gray-100);
  font-family: var(--font-gotham);
}

@media screen and (max-width: 1575px) {
  .sustainable-growth-wrapper {
    max-width: calc(100% - 5px);
  }

  .sustainability-landing-page-inner {
    max-width: calc(100% - 5px);
  }
}
@media screen and (max-width: 1250px) {
  .post-e-c-compliance-report-inner {
    max-width: calc(100% - 4px);
  }

  .sustainability-landing-page-inner {
    padding-bottom: 115px;
    box-sizing: border-box;
  }

  .logo-frame {
    padding-bottom: 82px;
    box-sizing: border-box;
  }

  .logo-frame1 {
    padding-bottom: 68px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .economic-times-sustainable-org {
    padding-bottom: 65px;
    box-sizing: border-box;
  }

  .sustainability-vision-long-container {
    font-size: var(--font-size-37xl);
    line-height: 56px;
  }

  .sustainable-growth {
    gap: var(--gap-14xl);
  }

  .long-term-commitments {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }

  .short-term-commitments {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }

  .awards-stars-frame {
    gap: var(--gap-10xl);
  }

  .post-e-c-compliance-report {
    gap: var(--gap-13xl);
  }

  .frame-parent {
    gap: var(--gap-27xl);
  }

  .sustainability-landing-page-inner {
    padding-bottom: 75px;
    box-sizing: border-box;
  }

  .navbar-frame {
    gap: 48px;
  }

  .duciendantum-ad-mil {
    font-size: var(--font-size-9xl);
    line-height: 30px;
  }

  .frame-container {
    gap: var(--gap-xl);
  }

  .rectangle-container {
    padding: var(--padding-5xl) var(--padding-17xl);
    box-sizing: border-box;
  }

  .logo-frame {
    gap: 25px;
    padding-bottom: 53px;
    box-sizing: border-box;
  }

  .ppc-colour-block-parent {
    gap: var(--gap-13xl);
  }

  .logo-frame1 {
    gap: var(--gap-3xl);
    padding-bottom: 44px;
    box-sizing: border-box;
  }

  .awards {
    font-size: var(--font-size-37xl);
    line-height: 56px;
  }

  .instance {
    gap: 27px;
  }

  .text {
    gap: var(--gap-16xl);
  }

  .sustainability-landing-page {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .ppc-colour-block-wrapper {
    max-width: calc(100% - 2px);
  }

  .sustainability-vision-long-container {
    font-size: var(--font-size-23xl);
    line-height: 42px;
  }

  .sustainable-growth {
    gap: var(--gap-base);
  }

  .our-commitments {
    font-size: var(--font-size-lgi);
    line-height: 56px;
  }

  .long-term-commitments {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }

  .rectangle-group {
    gap: var(--gap-mid);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }

  .short-term-commitments {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }

  .platinum-award-title {
    gap: var(--gap-mid);
  }

  .economic-times-logo {
    gap: var(--gap-4xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }

  .frame-vector {
    gap: var(--gap-mid);
    padding-top: 170px;
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }

  .post-e-c-compliance-report {
    gap: var(--gap-base);
  }

  .frame-parent {
    gap: var(--gap-4xl);
  }

  .navbar-frame {
    gap: 24px;
  }

  .duciendantum-ad-mil {
    font-size: var(--font-size-2xl);
    line-height: 23px;
  }

  .rajarshi-purkayastha-vice-pres-parent {
    gap: var(--gap-3xl);
  }

  .ppc-colour-block-parent {
    gap: var(--gap-base);
  }

  .awards {
    font-size: var(--font-size-23xl);
    line-height: 42px;
  }

  .sustainability {
    font-size: var(--font-size-lgi);
    line-height: 56px;
  }

  .text {
    gap: var(--gap-lg);
  }
}
/* .awards-stars-frame {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
} */

.awards-stars-frame.animate .delay-1 {
  transition-delay: 0.2s; /* Adjust the delay for Child 1 */
}

.awards-stars-frame.animate .delay-2 {
  transition-delay: 0.4s; /* Adjust the delay for Child 2 */
}

.awards-stars-frame.animate .delay-3 {
  transition-delay: 0.6s; /* Adjust the delay for Child 3 */
}

.awards-stars-frame div {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.awards-stars-frame.animate div {
  opacity: 1;
  transform: translateY(0);
}
/* .rectangle-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.rectangle-container.visible {
  opacity: 1;
  transform: translateY(0);
} */
.sustainability-vision-long-container {
  transform: translateY(-70px);
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out forwards;
}

.sustainability-vision-long-container.animate p.delay-1 {
  animation-delay: 0.3s;
}

.sustainability-vision-long-container.animate p.delay-2 {
  animation-delay: 1s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.sustainability-vision {
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.sustainability-vision.animate {
  opacity: 1;
  transform: translateY(0);
}

.delay1 {
  transition-delay: 0.1s; /* Adjust the delay for the first paragraph */
}

.delay2 {
  transition-delay: 0.7s; /* Adjust the delay for the second paragraph */
}
.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loadingbar {
  background-color: #fff;
  padding: 20px;
  
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  display: none !important;
}
.carousel-indicators [data-bs-target]{
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}
